<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Registration Page</title>
  <!-- Include Tailwind CSS -->
  <link
    href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css"
    rel="stylesheet"
  />
</head>
<body class="bg-white">
  <div class="flex items-center justify-center h-screen">
    
    <!-- Form Section -->
    <div class="w-full md:mx-40 md:flex md:shadow-md">
      <!-- Image Section -->
      <div class="hidden md:block md:w-1/2 bg-blue-500">
        <img src="https://cdn.pixabay.com/photo/2022/09/17/15/29/crypto-7461225_1280.png" class="md:w-1/2 mx-auto my-20"/>
        <h3 class="text-gray-200 text-center font-semibold text-2xl">Experience a profitable investment with us!</h3>
        <h3 class="text-gray-200 text-center font-semibold text-2xl my-1">Let's get you on board...</h3>
       
      </div>
      <div class="md:w-1/2 h-60vh md:p-8 bg-white mx-4 rounded-l-md">
        
        <h1 class="text-2xl text-center ">Create your free account!</h1>
        <p class="text-center">Already using Digital Max trade? <a href="/login" class="text-blue-600">Login</a></p>
        <h1 class="text-3xl text-center mb-6 mt-3 font-bold"><a href="/">DIGITAL MAX TRADE</a></h1>
        <p class="error-message text-red-500">
          <% if (error === 'UserAlreadyExists') { %>
            An account with that email already exists.
          <% } else if (error === 'PasswordsDoNotMatch') { %>
            Password mismatch.
          <% } else if (error === 'noTC') { %>
            You have to agree with the Terms & Conditions.
          <% } %>
        </p>
        <form method="post" action="/signup">
          <div class="mb-6">
            <label
              for="username"
              class="block text-gray-700 text-sm font-bold mb-2"
            >
              <fieldset class="border p-2 rounded-lg">
                <legend class=" font-semibold p-1">Username</legend>
                <input
                id="username"
                type="text"
                name="username"
                class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:border-indigo-500"
                placeholder="username"
                />
              </fieldset>
            </label>
          </div>
          <div class="mb-6">
            <label
              for="email"
              class="block text-gray-700 text-sm font-bold mb-2"
            >
              <fieldset class="border p-2 rounded-lg">
                <legend class=" font-semibold p-1">Email</legend>
                <input
                id="email"
                type="email"
                name="email"
                class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:border-indigo-500"
                placeholder="doe@example.com"
                />
              </fieldset>
            </label>
          </div>
          <div class="mb-6">
            <label
              for="email"
              class="block text-gray-700 text-sm font-bold mb-2"
            >
              <fieldset class="border p-2 rounded-lg">
                <legend class=" font-semibold p-1">Phone Number</legend>
                <input
                id="phone"
                type="text"
                name="phone"
                class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:border-indigo-500"
                placeholder="+1 2345 6789"
                />
              </fieldset>
            </label>
          </div>
          <div class="mb-6">
            <label
              for="password"
              class="block text-gray-700 text-sm font-bold mb-2"
            >
              <fieldset class="border p-2 rounded-lg">
                <legend class=" font-semibold p-1">Password</legend>
                <input
                  id="password"
                  type="password"
                  name="password"
                  class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:border-indigo-500"
                  placeholder="password (minimum of 6 characters)"
                />
              </fieldset>
            </label>
          </div>
          <div class="mb-3">
            <label
              for="confirm-password"
              class="block text-gray-700 text-sm font-bold mb-2"
            >
              <fieldset class="border p-2 rounded-lg">
                <legend class=" font-semibold p-1">Confirm Password</legend>
                <input
                  id="confirmPassword"
                  type="password"
                  name="confirmPassword"
                  class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:border-indigo-500"
                  placeholder="re-enter password"
                />
              </fieldset>
            </label>
          </div>
          <div class="mb-6 flex items-center">
            <input
                id="tc"
                type="checkbox"
                name="tc"
                class="w-4 h-4 mr-2 border border-gray-300 rounded focus:outline-none focus:border-indigo-500"
            />
            <label for="tc" class="text-sm text-gray-700 cursor-pointer">
                I agree to the
                <a href="/tc" class="text-blue-500 hover:text-indigo-700">Terms & Conditions</a>
            </label>
        </div>
        
          
          <div class="flex items-center justify-between">
            <button
              type="submit"
              class="w-full px-4 mb-2 py-2 bg-blue-500 text-white rounded hover:bg-indigo-600 focus:outline-none"
            >
              Get Started
            </button>
            
          </div>
          
        </form>
       
      </div>
      
      
    </div>
  </div>
  
</body>

</html>
